body{
 padding: 0;
 margin: 0;
 background-image: url(/img/background.jpg);
 background-size: cover;
 font-family: 'Press Start 2P', cursive;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/img/sky.png);
    background-color: lightskyblue;
}

a{
    text-decoration: none;
    color: inherit;
}

.grid {
    border: 1px solid black;
    height: 360px;
    width: 360px;
    display: flex;
    flex-wrap: wrap;
    background-image: url(/img/land.jpg);
    background-color: brown;
    background-size: cover;
}

.grid div {
    height: 40px;
    width: 40px;
}

.ending-block {
    background-image: url(/img/flower.png);
    background-color: transparent;
    background-size: cover;
}

.starting-block {
    background-image: url(/img/flower.png);
    background-color: transparent;
    background-size: cover;
}
.l1, .l2, .l3 {
    background-image: url(/img/waterlily.png);
    background-color: lightskyblue;
    background-size: cover;
}

.l4, .l5 {
    background-image: url(/img/water.jpg);
    background-color: lightblue;
}

.c1 {
    background-image: url(/img/car.png);
    background-color: lightgrey;
    background-size: cover;
}

.c2, .c3 {
    background-color: lightgrey;
}

.frog {
    background-image: url(/img/froggy.gif);
    background-color: transparent;
    background-size: cover;
}

.buttons{
   flex-direction: row;
}
 

.buttons button {
    background-color: lightgreen;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .start-pause-button:hover {
    background-color: lightgreen;
  }